@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    background-color:#F3F5FC;
    position: relative;
    height: 100vh;
}

.logo{
    position: absolute;
    top: 40px;
    left: 84px;
    width: 31px;
    height: 48px ;
}

.text-encrypt {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #0a3871;
    resize: none;
    width: 600px;
    height: 300px;
    margin-left: 240px;
    margin-top: 168px;
    background-color: #F3F5FC;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: none;
}

.text-encrypt::-webkit-scrollbar {
    display: none;
}

.text-encrypt::placeholder {
    color: #0a3871;
}

.text-encrypt:focus {
    outline: none;
}

.box {
    position: absolute;
    display: flex;
    top: 40px;
    right: 40px;
    background-color: #FFF;
    width: 400px;
    height: 90vh;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.box-content {
    width: 100%;
    margin: auto 32px auto 32px;
}

.box-design {
    width: 100%;
    margin-bottom: 32px;
}

.box-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 28.8px;
    margin-bottom: 16px;
}

.box-msg {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

.box-btn {
    width: 680px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.encrypt-btn {
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
    text-align: center;
    font-size: 16px;
    color: white;
    width: 280px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    margin: 12px;
    cursor: pointer;
}

.encrypt-btn:hover {
    background-color: #092e5c;
}

.encrypt-btn:active{
    box-shadow: inset 4px 4px 12px #121131,
                inset -4px -4px 12px #1b1a4d;
}

.decrypt-btn {
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
    text-align: center;
    font-size: 16px;
    color: #0A3871;
    width: 280px;
    padding: 24px;
    border-radius: 24px;
    background-color: #F3F5FC;
    border: 1px solid #0A3871;
    margin: 12px;
    cursor: pointer;
}

.decrypt-btn:hover {
    background-color: #e0e2e6;
}

.decrypt-btn:active {
    box-shadow: inset 4px 4px 12px #7c7e80,
                inset -4px -4px 12px #949596;
}

.aviso {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 230px;
    color: #495057;
    margin-left: 36px;
    margin-bottom: 4px;
}

.aviso::before {
    position: absolute;
    content: '';
    background-image: url('./images/aviso.png');
    width: 16px;
    height: 16px;
    top: 1px;
    left: -24px;
}

.copyright {
    width: 160px;
    font-size: 16px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    color: #0a3871;
    margin-top: 30px;
    margin-bottom: 30px;
}

.copyright a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    color: #0a3871;
}

.box-copy {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.copy-scroll {
    height: 550px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.copy-scroll::-webkit-scrollbar {
    display: none;
}

.copy {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
}

.copy-btn {
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
    text-align: center;
    font-size: 16px;
    color: #0A3871;
    width: 336px;
    padding: 24px;
    border-radius: 24px;
    background-color: #F3F5FC;
    border: 1px solid #0A3871;
    cursor: pointer;
    margin-top: 12px;
}

.copy-btn:hover {
    background-color: #e0e2e6;
}

.copy-btn:active {
    box-shadow: inset 4px 4px 12px #7c7e80,
                inset -4px -4px 12px #949596;
}

.encrypt-box {
    position: relative;
    max-width: 680px;
    left: 240px;
}

@media screen and (max-width: 1290px) {
    .text-encrypt {
        margin-left: 70px;
        width: 590px;
    }

    .encrypt-box {
        left: 70px;
    }

    .box {
        width: 300px;
    }

    .copy-btn {
        width: 236px;
    }
}

@media screen and (max-width: 1010px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .text-encrypt {
        order: 2;
        font-size: 28px;
        text-align: center;
        margin-left: 0;
        min-height: 290px;
        height: auto;
    }

    .encrypt-box {
        order: 3;
        left: 0;
        max-width: none;
        width: 90%;
        margin-top: 20px;
    }

    .box-btn {
        width: 100%;
        flex-wrap: nowrap;
    }

    .encrypt-btn {
        width: calc(50% - 2.64%);
    }

    .decrypt-btn {
        width: calc(50% - 2.64%);
    }

    .box {
        position: relative;
        order: 4;
        width: 80%;
        top: 0;
        right: 0;
        margin-top: 64px;
        padding: 30px;
        height: auto;
    }

    .box-design {
        display: none;
    }

    .copyright {
        order: 5;
        left: 0;
        right: 0;
        transform: none;
    }

    .box-copy {
        width: 100%;
        margin: 0;
    }

    .copy-scroll {
        position: relative;
        height: auto;
        width: 100%;
    }

    .copy-scroll .copy {
        font-size: 20px;
    }

    .copy-btn {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .text-encrypt {
        width: 80%;
    }

    .box-btn {
        flex-wrap: wrap;
    }

    .encrypt-btn {
        width: 100%;
    }

    .decrypt-btn {
        width: 100%;
    }

    .copy-btn {
        width: 100%;
    }
}

@media screen and (max-width: 280px) {
    .aviso {
        width: auto;
    }
} 